/datasets/*/VOCdevkit
/dino/*/
/unsupervised_saliency_detection/__pycache__
/__pycache__
.DS_Store
/aip_project_env
dino_deitsmall16_linearweights.pth
dino_deitsmall8_linearweights.pth
dino_vitbase16_linearweights.pth
